<div class="row">
	<div class="col-md-12 col-xs-12">
		<h3>Calendar</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-left">
					<h4>
						<span data-ng-if="currentMonth == 1">Januar</span>
						<span data-ng-if="currentMonth == 2">Februar</span>
						<span data-ng-if="currentMonth == 3">März</span>
						<span data-ng-if="currentMonth == 4">April</span>
						<span data-ng-if="currentMonth == 5">Mai</span>
						<span data-ng-if="currentMonth == 6">Juni</span>
						<span data-ng-if="currentMonth == 7">Juli</span>
						<span data-ng-if="currentMonth == 8">August</span>
						<span data-ng-if="currentMonth == 9">September</span>
						<span data-ng-if="currentMonth == 10">Oktober</span>
						<span data-ng-if="currentMonth == 11">November</span>
						<span data-ng-if="currentMonth == 12">Dezember</span>
						&nbsp;{{currentYear}}
					</h4>
				</div>
				<div class="pull-right">
						<form class="form-inline">
							<div class="checkbox">
								<label class="checkbox">
									<input type="checkbox" data-ng-model="laneFilter" class="form-control"> Nur Freigaben / Releases
								</label>
							</div>
							<button class="btn btn-primary " data-ng-click="subMonth()"><span class="fa fa-chevron-left"></span></button>&nbsp;
							<button class="btn btn-primary " data-ng-click="addMonth()"><span class="fa fa-chevron-right"></span></button>	
						</form>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="panel-body">
				<table class="table table-condensed">
				<tbody>
					<tr>
						<th>Datum</th>
						<th>&nbsp;</th>
						<th data-ng-repeat="u in users">{{u.login.substring(0,5)}}</th>
					</tr>
				</tbody>
					<tr data-ng-repeat="(date, m) in entries" data-ng-class="{today: isToday(date), weekend : isWeekend(date)}">
						<td>{{date|date:'EEE'}} {{date|date:'dd.MM.yyyy'}}</td>
						<td>
							<div data-ng-repeat="g in m.specsdone track by $index" style="cursor:pointer;" data-ng-click="showDetails(g)" data-ng-if="!laneFilter">
								<div class="col-md-2"><span class="label label-default">Specs fertig</span></div>
								<span class="milestone-marker" style="background-color: #{{g.laneColor}}; color:#fff;"> {{g.customer.name}} - {{g.name}}</span> <small>{{g.version}}</small><br/>
							</div>
							<div data-ng-repeat="r in m.releases track by $index" style="cursor:pointer;" data-ng-click="showDetails(r)">
								<div class="col-md-2 col-md-offset-2"><span class="label label-info">Release</span></div>
								<span class="milestone-marker" style="background-color: #{{r.laneColor}}; color:#fff;"> {{r.customer.name}} - {{r.name}}</span> <small>{{r.version}}</small><br/>
							</div>
							<div data-ng-repeat="a in m.approvals track by $index" style="cursor:pointer;" data-ng-click="showDetails(a)">
								<div class="col-md-2 col-md-offset-1"><span class="label label-warning">Freigabe</span></div>
								<span class="milestone-marker" style="background-color:#{{a.laneColor}}; color:#fff;"> {{a.customer.name}} - {{a.name}}</span> <small>{{a.version}}</small><br/>
							</div>
							<div data-ng-repeat="p in m.payments track by $index" style="cursor:pointer;" data-ng-click="showDetails(p)" data-ng-if="!laneFilter">
								<div class="col-md-2 col-md-offset-3"><span class="label label-success">Zahlung</span></div>
								<span class="milestone-marker" style="background-color:#{{p.laneColor}}; color:#fff;"> {{p.customer.name}} {{p.name}}</span> <small>{{p.version}}</small><br/>
							</div>
						</td>
						<td data-ng-repeat="u in users" style="text-align:center;">
							<div class="lane" style="background-color:#{{getAssignment(date, u).lower.laneColor}};" title="{{u.login}}" data-ng-click="assignSlice(date, u, 'lower', $event)"></div>
							<div class="lane" style="background-color:#{{getAssignment(date, u).upper.laneColor}};" title="{{u.login}}" data-ng-click="assignSlice(date, u, 'upper', $event)"></div>	
						</td>
					</tr>
				</table>
			</div>
			
			<div class="panel-footer">
				<div class="pull-right">
					<button class="btn btn-success" data-ng-click="saveAssignments()">Alle Speichern</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	<div class="col-md-4 col-xs-12" style="position:fixed;right:0;">
		
		<div data-ng-include data-src="'./modules/calendar/views/aggregation-panel.html'"></div>
		
		<div data-ng-include data-src="'./modules/calendar/views/milestone-panel.html'" data-ng-if="focusedMilestone"></div>
	
		<div data-ng-include data-src="'./modules/calendar/views/report-panel.html'"></div>	
		
	</div>
</div>
