<div class="panel panel-default">
	<div class="panel-heading">
		<h5 class="panel-title">{{focusedMilestone.customer.name}} // {{focusedMilestone.name}}</h5>
		<div class="pull-right" style="background-color:#{{focusedMilestone.laneColor}}; width:145px; height:15px;margin-top:-15px;">&nbsp;</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				Gesamtzeit (mit Overhead) : 
			</div>
			<div class="col-md-6">
				{{getTotalTime(focusedMilestone) | secsToTime }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				Entwicklungszeit (geschaetzt) :
			</div>
			<div class="col-md-6">
				{{focusedMilestone.estimatedDevelopmentTime}} h
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				Entwicklungszeit (laut Features) :
			</div>
			<div class="col-md-6">
		 		{{getFeatureSum(focusedMilestone) | secsToTime }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				Backend: 
			</div>
			<div class="col-md-6">
				{{getFeatureSum(focusedMilestone, true) | secsToTime}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				Frontend: 
			</div>
			<div class="col-md-6">
				{{getFeatureSum(focusedMilestone, false) | secsToTime}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<strong>Zugeteilt :</strong> 
			</div>
			<div class="col-md-6">
				<strong>{{getAssignedTime(focusedMilestone) | secsToTime}}</strong>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12"><hr/></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label>Geplante Freigabe</label>
				<input type="date" data-ng-model="focusedMilestone.plannedApprovalDate" class="form-control" data-date-format data-ng-change="adjustDate('approval')">
			</div>
			
			<div class="col-md-6">
				<label>Geplanter Release</label>
				<input type="date" data-ng-model="focusedMilestone.plannedReleaseDate" class="form-control" data-date-format data-ng-change="adjustDate('release')">
			</div>
		</div>
	</div>
	
	<div class="panel-footer">
		<div class="pull-right">
			<button type="button" data-ng-click="unfocusMilestone()" class="btn btn-danger">Abbrechen</button>
			<button type="button" data-ng-click="saveMilestone()" class="btn btn-success">Speichern</button>
		</div>
		<div class="clearfix"></div>
	</div>
</div>