<div id="sprint-issueSearchOverlay" class="overlay-panel" data-ng-class="{'expanded' : issue}">
	<div class="row">
		<div class="col-md-4">
			<label>Kunde</label>
			<select data-ng-model="criteria.customer" data-ng-options="c._id as c.name for c in customers" class="form-control"></select>
		</div>
		<div class="col-md-4">
			<label>Typ</label>
			<select data-ng-model="criteria.type" class="form-control">
				<option value="">Alle</option>
				<option value="0">Bug</option>
				<option value="1">Change Requests</option>
				<option value="2">Features</option>
				<option value="3">Support</option>
			</select>
		</div>
		<div class="col-md-4">
			<label>Status bis</label>
			<select data-ng-model="criteria.status" class="form-control">
				<option value="">Alle</option>
				<option value="0">Neu</option>
				<option value="1">Zugewiesen</option>
				<option value="2">Feedback</option>
				<option value="3">Resolved</option>
				<option value="4">Geschlossen</option>
			</select>
		</div>
	</div>
	
	
	<div class="row">
		<div data-ng-class="{'col-md-12' : !issue, 'col-md-6' : issue}" style="height:80vh; overflow-y:scroll;">
			<table class="table table-striped">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>ID</th>
					<th>Type</th>
					<th>Name</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="issue in issues | orderBy: 'number'"
					data-ng-class="{'info' : issue.state == 'ASSIGNED', 'danger' : issue.state == 'NEW', 'warning' : issue.state == 'FEEDBACK', 'success' : issue.state == 'RESOLVED', 'active' : issue.state == 'CLOSED'}"
					data-ng-if="!issue.sprint || issue.sprint.length == 0">
				
					<td><span class="fa fa-chevron-left" style="cursor:pointer;" data-ng-click="selectIssue(issue)"></span>	
					<td>{{issue.number}}</td>
					<td><div data-buglabel data-type="{{issue.issuetype}}"></div></td>
					<td>{{issue.title}}</td>
					<td><a href="" data-ng-click="showDetails(issue)"><span class="fa fa-search"></span></a></td>
				</tr>
			</tbody>
			</table>
		</div>
		
		<div class="col-md-6" data-ng-if="issue">
			<h3>#{{issue.number}}</h3>
			<div data-ng-include data-src="'./modules/issues/views/issue-details.html'"></div>	
		</div>
	</div>
</div>