<div id="sprint-issueSearchOverlay" class="overlay-panel" data-ng-class="{'expanded' : issue}">
	<div class="row">
		<div class="col-md-12">
			<div data-search-criteria class="form-inline"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="checkbox">
				<label>
					<input type="checkbox" data-ng-model="showHidden" data-ng-change="toggleHidden"> Show issues that are already in the sprint 
				</label>
			</div>
		</div>
	</div>
	
	<div class="row" >
		<div data-ng-class="{'col-md-12' : !issue, 'col-md-6' : issue}" id="iScroll" style="height:90vh; overflow-y: scroll;">
			<table class="table table-striped" data-infinite-scroll="scroll()" data-infinite-scroll-immediate-check="false" infinite-scroll-container="'#iScroll'">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>ID</th>
					<th>Type</th>
					<th>Name</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody >
				<tr data-ng-repeat="issue in issues track by issue._id"
					data-ng-class="{'info' : issue.state == 'ASSIGNED', 'danger' : issue.state == 'NEW', 'warning' : issue.state == 'FEEDBACK', 'success' : issue.state == 'RESOLVED', 'active' : issue.state == 'CLOSED'}"
					data-ng-if="hide.indexOf(issue._id) < 0 || showHidden">
				
					<td><span class="fa fa-chevron-left" style="cursor:pointer;" data-ng-click="selectIssue(issue)"></span>	
					<td>{{issue.number}}</td>
					<td><div data-buglabel data-type="{{issue.issuetype}}"></div></td>
					<td><span data-ng-repeat="t in issue.tags" class="label label-success tag-label">{{t}}</span>{{issue.title}}</td>
					<td><a href="" data-ng-click="showDetails(issue)"><span class="fa fa-search"></span></a></td>
				</tr>
			</tbody>
			</table>
			<div style="height:400px;">&nbsp;</div>
		</div>
		
		<div class="col-md-6" data-ng-if="issue">
			<h3>#{{issue.number}}</h3>
			<div data-ng-include data-src="'./modules/issues/views/issue-details.html'"></div>	
		</div>
	</div>
</div>