<div>
	
	<label>Tags</label>
	<span issue-tags data-tags='criteria.predicates.tags' data-allow-new="false"></span>		

	<label>Typ</label>
	<select data-ng-model="criteria.predicates.issuetype" class="form-control">
		<option value="">Alle</option>
		<option value="bug">Bug</option>
		<option value="change_request">Change Requests</option>
		<option value="feature">Features</option>
		<option value="support">Support</option>
	</select>&nbsp;&nbsp;
	
	<label>Zuweisung</label>
	<select data-ng-model="criteria.predicates.selection" class="form-control">
		<option value="">Alle</option>
		<option value="1">Mir zugewiesen</option>
		<option value="2">Nicht zugewiesen</option>
	</select>&nbsp;&nbsp;

	<label>Status</label>
	<select data-ng-model="criteria.predicates.status" class="form-control">
		<option value="">Alle</option>
		<option value="new">Neu</option>
		<option value="assigned">Zugewiesen</option>
		<option value="feedback">Feedback</option>
		<option value="resolved">Resolved</option>
		<option value="closed">Geschlossen</option>
	</select>
</div>