<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>ProJack - Nuff said!</title>
	<script>
		var ProJack = {};
	</script>
	<link rel="shortcut icon" href="./resources/images/logo-small.png">
	<link href="./resources/css/bootstrap-paper.min.css" rel="stylesheet">
	<link href="./resources/css/font-awesome.min.css" rel="stylesheet">
	<link href="./resources/css/nv.d3.css" rel="stylesheet">
	<link href="./resources/css/style.css" rel="stylesheet">
</head>
<body style="padding-top:70px;">
	<nav class="navbar navbar-default navbar-fixed-top" data-role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/" title="ProJack - Project Management done right!"><img src="./resources/images/logo-small.png" style="z-index:10000;"></a>
				</div>
				
				<div class="collapse navbar-collapse" id="foo-target">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Administration</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#/admin/users"><i class="fa fa-user fa-fw"></i>&nbsp;Benutzer</a></li>
								<li><a href="#/customers">  <i class="fa fa-group fa-fw"></i>&nbsp;Kunden</a></li>
								<li><a href="#/admin/templates"> <i class="fa fa-file-o fa-fw"></i>&nbsp;Templates</a></li>
								<li><a href="#/admin/settings"> <i class="fa fa-gears fa-fw"></i>&nbsp;Einstellungen</a></li>
							</ul>
						</li>
						<li><a href="#/milestones">Milestones</a></li>
						<li><a href="#/issues">Issues</a></li>
						<li><a href="#/calendar">Calendar</a></li>
						<li><a href="#/mails">Mails</a></li>
					</ul>
				
				
					<ul class="nav navbar-nav navbar-right">
					
                        <li><a style="font-size:20px; display:none;" id="spinner"><span class="fa fa-circle-o-notch fa-spin"></span></a></li>
					
						<li data-ng-controller="FlashLightController">
							<form class="navbar-form">
								<div class="form-group">
									<input type="text" data-ng-model="query"  class="form-control" placeholder="Finde..." data-ng-change="checkVisible()">
								</div>
							</form>	
							<div id="flashlight-panel" class="overlay-panel ng-hide" style="right:-225px;" data-ng-show="panelVisible">
								<div data-ng-include data-src="'./modules/flashlight/views/search-results.html'"></div>
							</div>
						</li>	
						
						<li data-ng-controller="MailInboxController" data-ng-class="{active : panelVisible}">
							<a href="javascript:void('');" data-ng-click="toggleVisible()" style="font-size:20px;">
								<span class="fa fa-envelope"></span>
								<span data-ng-class="{'badge' : true, 'badge-danger' : messageCount > 0}" style="position:relative;margin-left:-7px;">{{messageCount}}</span>
							</a>
							<div id="mail-inbox-panel" class="overlay-panel ng-hide" style="right:-157px;" data-ng-show="panelVisible">
								<div data-ng-include data-src="'./modules/mails/views/inbox-panel.html'"></div>
							</div>	
						</li>
                        
                       	<li data-ng-controller="ReminderController" data-ng-class="{active : panelVisible}">
                       		<a href="javascript:void('')" data-ng-click="toggleVisible()" style="font-size:20px;">
                       			<span class="fa fa-bell"></span> 
                       			<span data-ng-class="{'badge' : true, 'badge-danger' : reminders.length > 0}" style="position:relative;margin-left:-10px;">{{reminders.length}}</span>
                       		</a>
							<div id="reminder-panel" class="overlay-panel ng-hide" style="right: -93px;" data-ng-show="panelVisible">
								<div data-ng-include data-src="'./modules/reminder/views/reminder-form.html'"></div>
								<hr/>
								<div data-ng-include data-src="'./modules/reminder/views/reminder-list.html'"></div>
								<audio id="projack-player">
									<source src="./resources/media/coin-sound.mp3">
								</audio>
							</div>
						</li>	
                        <li class="dropdown">
                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="font-size:20px;">
                        		<span class="fa fa-user"></span>
                        	</a>
                        	<ul class="dropdown-menu" role="menu">
                        		<li>
                        			<a href="#">
                        				<span class="fa fa-toggle-on fa-fw text-success" style="font-size:18px;"></span>&nbsp;&nbsp;
                        				Mail Notifications 
                        			</a>
                        				<a href="#">
                        					<span class="fa fa-toggle-on fa-fw text-success" style="font-size:18px;"></span>&nbsp;&nbsp;
                        				Reminders	
                        			</a>
                        		</li>
								<li><a href="#/admin/users/self"> <i class="fa fa-user fa-fw" style="font-size:18px;"></i>&nbsp;&nbsp;Profil</a></li>
							</ul>
                        </li>
                        <li><a href="./login.html#/logout" style="font-size:20px;"><span class="fa fa-power-off"></span></a></li>
                    </ul>
				</div>
			</div>
		</nav>
		
	
	<div class="container-fluid">
		<div class="row">
			<div id="alert-panel" style="display:none;">
                <div class="alert"></div>
        	</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-md-12" data-ng-view></div>
		</div>
	</div>

	<!-- 3rd party libs -->
	<script src="./resources/js/jquery-2.1.1.min.js"></script>
	<script src="./resources/js/bootstrap.min.js"></script>
	<script src="./resources/js/moment-with-locales.js"></script>
	<script src="./resources/js/angular-file-upload-shim.min.js"></script>
	<script src="./resources/js/angular.min.js"></script>
	<script src="./resources/js/angular-route.min.js"></script>
	<script src="./resources/js/angular-file-upload.min.js"></script>
	<script src="./resources/js/angular-locale_de-de.js"></script>
	<script src="./resources/js/ui-bootstrap-custom-0.10.0.min.js"></script>
	<script src="./resources/js/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
	<script src="./resources/js/tinymce.min.js"></script>
	<script src="./resources/js/tinymce.js"></script> <!-- Which is an angular directive for tinymce -->

	<!-- Charting -->	
	<script src="./resources/js/d3.min.js"></script>
	<script src="./resources/js/nv.d3.min.js"></script>
	<script src="./resources/js/angular-nvd3.min.js"></script>

	<!-- Encryption -->
	<script src="./resources/js/aes.js"></script>
	<script src="./resources/js/aes-ctr.js"></script>
	
	<!-- configuration and utility deps -->
	<script src="./modules/application/config.js"></script>
	<script src="./modules/application/utils.js"></script>

	<!-- Security Module -->	
	<script src="./modules/security/security.js"></script>
	<script src="./modules/security/security-service.js"></script>
	<script src="./modules/security/security-controller.js"></script>

	<!-- Template Module -->	
	<script src="./modules/templates/templates.js"></script>
	<script src="./modules/templates/template-service.js"></script>
	<script src="./modules/templates/template-controller.js"></script>
	
	<!-- Milestone Module -->
	<script src="./modules/milestones/milestones.js"></script>
	<script src="./modules/milestones/milestone-service.js"></script>
	<script src="./modules/milestones/milestone-controller.js"></script>
	
	<!-- Customer Module -->
	<script src="./modules/customers/customers.js"></script>
	<script src="./modules/customers/customer-service.js"></script>
	<script src="./modules/customers/customer-controller.js"></script>
	
	<!-- Issues Module -->		
	<script src="./modules/issues/issues.js"></script>
	<script src="./modules/issues/issue-service.js"></script>
	<script src="./modules/issues/issue-controller.js"></script>
	
	<!-- Mail Module -->	
	<script src="./modules/mails/mails.js"></script>
	<script src="./modules/mails/mail-service.js"></script>
	<script src="./modules/mails/mail-controller.js"></script>
	
	<!-- Calendar Module -->
	<script src="./modules/calendar/calendar.js"></script>
	<script src="./modules/calendar/calendar-service.js"></script>
	<script src="./modules/calendar/calendar-controller.js"></script>
	
	<!-- Reminder Module -->
	<script src="./modules/reminder/reminder.js"></script>	
	<script src="./modules/reminder/reminder-service.js"></script>	
	<script src="./modules/reminder/reminder-controller.js"></script>	
	
	<!-- FlashLight Module -->
	<script src="./modules/flashlight/flashlight.js"></script>
	
	<script src="./modules/dashboard/dashboard.js"></script>
	<script src="./modules/application/application.js"></script>
	
	<!-- Settings ... belongs to the core application -->
	<script src="./modules/application/application-settings.js"></script>
	
	<script type="text/javascript">
		angular.element(document).ready(function() {
			angular.bootstrap(document, ['ProJack', 'ReminderModule', 'FlashLightModule', 'MailModule']);
		});
	</script>
</body>
</html>
