<div class="row">
	<div class="col-md-12">
		<h3>Analyse {{::milestone.name}}</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Gesamt</h5>
			</div>
			
			<div class="panel-body">
				<div class="row">
					<div class="col-md-8">
						Entwicklung (geplant)
					</div>
					<div class="col-md-4">
						{{milestone.estimatedDevelopmentTime}} h
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						Entwicklung (laut Features)
					</div>
					<div class="col-md-4">
						{{getFeatureTime(1) | secsToTime }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						Projektzeit (mit overhead)
					</div>
					<div class="col-md-4">
						{{getFeatureTime(milestone.factor) | secsToTime }} (x{{milestone.factor | number : 1}})
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						Entwicklung auf Feature Tickets
					</div>
					<div class="col-md-4">
						{{getTimeForTicketType(['FEATURE']) | secsToTime}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						Entwicklung auf Bug Tickets
					</div>
					<div class="col-md-4">
						{{getTimeForTicketType(['BUG']) | secsToTime }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<strong>Saldo</strong>
					</div>
					<div class="col-md-4">
						<strong data-ng-class="{'text-success' : sum >= 0, 'text-danger' : sum < 0}">{{sum | secsToTime }}</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="col-md-6">
		<div class="panel-default panel">
			<div class="panel-heading">
				<h3 class="panel-title">Verbleibende Zeit pro Ticket</h3>
			</div>
			
			<div class="panel-body">
				<div data-nvd3 options="chartOpts" data="trendChart"></div>
			</div>
		</div>
	</div>
	
	
	
</div>