<h3>Milestone bearbeiten</h3>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">{{::milestone.name}} <small>{{::milestone.version}}</small></div>
			
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li class="active"> <a data-target="#basedata" data-toggle="tab" data-ng-click="tab = 'MILESTONE'">Milestone</a></li>
					<li>				<a data-target="#specification" data-toggle="tab" data-ng-click="tab = 'SPECIFICATION'">Pflichtenheft</a></li>
					<li>				<a data-target="#features" data-toggle="tab" data-ng-click="tab = 'FEATURES'">Features</a></li>
					<li>				<a data-target="#install" data-toggle="tab" data-ng-click="tab = 'INSTALL'">Installation</a></li>
					<li>				<a data-target="#attachments" data-toggle="tab" data-ng-click="tab = 'ATTACHMENTS'">Dokumente</a></li>
				</ul>
				
				<div class="tab-content">
					<div class="tab-pane fade in active" id="basedata">
						<div data-ng-include data-src="'./modules/milestones/views/milestone-form.html'"></div>
					</div>
					
					<div class="tab-pane fade in" id="specification">
						<div data-ng-include data-src="'./modules/milestones/views/specifications-form.html'"></div>
					</div>
					
					<div class="tab-pane fade in" id="features">
						<div data-ng-include data-ng-if="!focusedFeature" data-src="'./modules/milestones/views/features-index.html'"></div>
						<div data-ng-include data-ng-if="focusedFeature" data-src="'./modules/milestones/views/feature-form.html'"></div>
					</div>
					
					<div class="tab-pane fade in" id="install">
						<div data-ng-include data-src="'./modules/milestones/views/installation-form.html'"></div>
					</div>
					
					<div class="tab-pane fade in" id="attachments">
						<div data-ng-include data-src="'./modules/milestones/views/attachment-table.html'"></div>
					</div>
				</div>	
			</div>
			
			<div class="panel-footer">
				<div class="pull-right">
					<button class="btn btn-success" data-ng-click="updateMilestone()">Speichern</button>
				</div>
				<div class="clearfix"></div>
			</div>	
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Milestone stats</h5>
			</div>
			<div class="panel-body">
				<div data-ng-include data-src="'./modules/milestones/views/milestone-stats.html'"></div>
			</div>
		</div>
	
		<div class="panel panel-default" data-ng-if="tab == 'MILESTONE'">
			<div class="panel-heading">
				<h5 class="panel-title">Status</h5>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label>Status</label>
					<select data-ng-model="milestone.status" class="form-control">
						<option value="NEW">Neu</option>
						<option value="APPROVAL_REQUESTED">Freigabe einholen</option>
						<option value="APPROVED">Freigegeben</option>
						<option value="CERTIFIED">Abgenommen</option>
					</select>
				</div>
				
				<div class="form-group">
					<label>Freigabe durch</label>
					<input type="text" data-ng-model="milestone.approvedBy" placeholder="Max Mustermann" class="form-control" 
						data-ng-disabled="!(milestone.status == 'APPROVED' || milestone.status == 'CERTIFIED')">
				</div>
				
				<div class="form-group">	
					<label>Abenommen durch</label>
					<input type="text" data-ng-model="milestone.certifiedBy" placeholder="Max Mustermann" class="form-control" 
						data-ng-disabled="milestone.status != 'CERTIFIED'">
				</div>	
				
				<div class="form-group">
					<label>Abgerechnet am</label>
					<input type="date" data-ng-model="milestone.dateAccounted" class="form-control" data-date-format 
						data-ng-disabled="milestone.status != 'CERTIFIED'">
				</div>
			</div>
			<div class="panel-footer">
				<div class="pull-right">
					<button class="btn btn-success" data-ng-click="updateMilestone()">Speichern</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
		
		<div class="panel panel-default" data-ng-if="tab == 'SPECIFICATION'">
			<div class="panel-heading">
				<h5 class="panel-title">Pflichtenheft drucken</h5>
			</div>
			
			<div class="panel-body">
				<div class="form-group">
					<label>Template</label>
					<div data-template-selector data-select-as="template"></div>
				</div>
			</div>
			
			<div class="panel-footer">
				<div class="pull-left">
					<a href="./print-page.html#/milestone/{{::milestone._id}}/{{::template._id}}" class="btn btn-primary" target="_blank" data-ng-disabled="!template._id">
						<span class="fa fa-print">Drucken</span>
					</a>
				</div>
				<div class="pull-right">
					<button class="btn btn-primary" data-ng-click="printMilestone('PDF')" data-ng-disabled="!template._id || template._id.length == 0">PDF Erstellen</button>
					<button class="btn btn-primary" data-ng-click="printMilestone('ODT')" data-ng-disabled="!template._id || template._id.length == 0">ODT Erstellen</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	
		<div class="panel panel-default" data-ng-if="tab == 'FEATURES'">
			<div class="panel-heading">
				<h5 class="panel-title">Features</h5>
			</div>
			<div class="panel-body">
				<div data-ng-if="milestone.specification.features.length == 0">
					<i>Noch keine Features angelegt</i>	
				</div>
				<div data-ng-if="milestone.specification.features.length > 0">
					<ul>
						<li data-ng-repeat="f in milestone.specification.features">
							<a style="cursor:pointer;" data-ng-click="focusFeature(f)">{{$index + 1}} - {{f.title}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>