<form name="featureform">
	<div class="form-group pull-right">
		<label class="checkbox-inline">
			<input type="checkbox" data-ng-model="focusedFeature.createIssue" data-ng-disabled="focusedFeature.createIssue == false"> Ticket autom. anlegen
		</label>
	</div>
	<div class="form-group">
		<label>Name</label>
		<input type="text" data-ng-model="focusedFeature.title" class="form-control">
	</div>
	
	<div class="form-group">
		<label>Anforderung</label>
		<textarea data-ng-model="focusedFeature.requirement" rows="4" class="form-control"></textarea>
	</div>
	
	<div class="form-group">
		<label>Umsetzung</label>
		<textarea data-ng-model="focusedFeature.implementation" rows="4" class="form-control"></textarea>
	</div>
	
	<div class="form-group">
		<label>Resultat</label>
		<textarea data-ng-model="focusedFeature.result" rows="4" class="form-control"></textarea>
	</div>
	
	<div class="form-group">
		<div class="row">
			<div class="col-md-4">
				<label>Aufwand Backend</label>	
				<input type="text" data-ng-model="focusedFeature.estimatedBE" class="form-control" placeholder="HH:mm" data-duration-format data-ng-change="recalcEstimation()">
			</div>	
			
			<div class="col-md-4">
				<label>Aufwand UI</label>
				<input type="text" data-ng-model="focusedFeature.estimatedUI" class="form-control" placeholder="HH:mm" data-duration-format data-ng-change="recalcEstimation()">
			</div>
			
			<div class="col-md-4">
				<label>Geschätzter Aufwand <small>(reine Entwicklungszeit)</small></label>
				<input type="text" data-ng-model="focusedFeature.estimatedEffort" class="form-control" placeholder="HH:mm" data-duration-format>		
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label>Interne Notizen</label>
		<textarea data-ng-model="focusedFeature.internalNote" rows="4" class="form-control" data-ui-tinymce="tinyOptions"></textarea>
	</div>
	
	<button class="btn btn-success pull-right" data-ng-click="unfocusFeature()">Übernehmen</button>
</form>