<div class="btn-group" dropdown style="margin-top:8px;">
	<button type="button" class="btn btn-sm"><span class="fa fa-eye">
		{{ngModel.customer}} / {{ngModel.name}}
	</span>
	</button>
	<button type="button" class="btn btn-sm dropdown-toggle" dropdown-toggle>
		<span class="caret"></span>
		<span class="sr-only">Split</span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li data-ng-repeat="m in milestones|orderBy:'customer'"><a href="javascript:void('');" data-ng-click="selectMilestone(m)">{{m.customer}} / {{m.name}}</a></li>
	</ul>
</div>