<form name="milestoneform">
	<div class="form-group">
		<label>Name</label>
		<input type="text" data-ng-model="milestone.name" class="form-control">
	</div>
	<div class="form-group">	
		<label>Beschreibung</label>
		<textarea rows="4" data-ng-model="milestone.description" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
				<label>Kunde</label>
				<select data-ng-model="milestone.customer" class="form-control" data-ng-options="c as c.name for c in customers"></select>
			</div>	
			<div class="col-md-3">
				<label>Version</label>		
				<input type="text" data-ng-model="milestone.version" class="form-control" placeholder="prefix-major.minor.patchlevel">
			</div>
			<div class="col-md-3">
				<label>Farbe</label>
				<select data-ng-model="milestone.laneColor" class="form-control colorpicker">
					<option value="011C26" style="background-color:#011C26;">Dunkelblau</option>
					<option value="004358" style="background-color:#004358;">Blau</option>
					<option value="588C8C" style="background-color:#588C8C;">Blaugrau</option>
					<option value="D9042B" style="background-color:#D9042B;">Rot</option>
					<option value="6B0C22" style="background-color:#6B0C22;">Weinrot</option>
					<option value="F4CB89" style="background-color:#F4CB89;">Sandy</option>
					<option value="1F8A70" style="background-color:#1F8A70;">Türkis</option>
					<option value="BEDB39" style="background-color:#BEDB39;">Green I</option>
					<option value="FFE11A" style="background-color:#FFE11A;">Gelb</option>
					<option value="FD7400" style="background-color:#FD7400;">Orange</option>
					
				</select>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<div class="col-md-3">
				<label>Stundenfaktor</label>
				<input type="number" data-ng-model="milestone.factor" min="1.0" step="0.1" class="form-control">	
			</div>
			<div class="col-md-3">
				<label>Stundensatz</label>
				<input type="number" data-ng-model="milestone.rate" min="10.0" step="1" class="form-control">
			</div>	
			<div class="col-md-3">
				<label>Zahlungsziel (Tage)</label>
				<input type="number" data-ng-model="milestone.daysForPayment" min="0" class="form-control">
			</div>
			<div class="col-md-3">
				<label>Geschätzte Entwicklungszeit (h)</label>	
				<input type="number" data-ng-model="milestone.estimatedDevelopmentTime" min="0" step="1" class="form-control">
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<div class="col-md-3 col-xs-6">
				<label>Spezifikation fertig am</label>	
				<input type="date" data-ng-model="milestone.plannedCompletionDate" class="form-control" data-date-format>
			</div>
			<div class="col-md-3 col-xs-6">
				<label>Geplante Freigabe</label>
				<input type="date" data-ng-model="milestone.plannedApprovalDate" class="form-control" data-date-format>
			</div>
			<div class="col-md-3 col-xs-6">
				<label>Geplantes Releasedatum</label>
				<input type="date" data-ng-model="milestone.plannedReleaseDate" class="form-control" data-date-format>
			</div>
			<div class="col-md-3 col-xs-6">
				<label>Tatsächliches Releasedatum</label>
				<input type="date" data-ng-model="milestone.actualReleaseDate" class="form-control" data-date-format>
			</div>
		</div>
	</div>
</form>