<table class="table table-condensed table-striped">
<tbody>
	<tr>
		<td>Anzahl Features</td>
		<td>{{milestone.specification.features.length}}</td>
	</tr>
	<tr>
		<td>Zeit f. Entwicklung</td>
		<td>{{aggregation.developmentTime | secsToTime }}</td>
	</tr>
	<tr>
		<td>Zeit f. Projektoverhead</td>
		<td>{{aggregation.overhead | secsToTime }}</td>
	</tr>
	<tr>
		<td>Gesamtzeit</td>
		<td><b>{{aggregation.totalTime | secsToTime }}</b></td>
	</tr>
	<tr>
		<td>&Oslash; Zeit pro Feature</td>
		<td>{{aggregation.timePerFeature | secsToTime }}</td>
	</tr>
	<tr>
		<td>&Oslash; Budget pro Feature</td>
		<td>{{aggregation.budgetPerFeature | currency : '&euro;'}}</td>
	</tr>
	<tr>
		<td>Budget</td>
		<td><b>{{aggregation.budget | currency : '&euro;'}}</b>
	</tr>
	<tr>
		<td>Tage bis Release</td>
		<td>{{aggregation.daysToGo}}</td>
	</tr>
</tbody>
</table>