td.tools {
    text-align:right;
    white-space:nowrap;
}

td.tools span {
    width:20px;
    text-align:center;
}

td.tools a {
	text-decoration:none;
}

#alert-panel {
    display:block;
    position:fixed;
    width:100%;
    margin-top:-20px;
    z-index:9999;
}

#alert-panel .alert {
    padding:5px;
    text-align:center;
}

a[data-target] {
	cursor:pointer;
}

div.tab-pane {
	margin-top:14px;
}

tr.today {
	border-left: 2px solid red;
}
tr.weekend {
	background-color:#eee;
}