td.tools {
    text-align:right;
    white-space:nowrap;
}

td.tools span {
    width:20px;
    text-align:center;
}

td.tools a {
	text-decoration:none;
}

#alert-panel {
    display:block;
    position:fixed;
    width:100%;
    margin-top:-20px;
    z-index:9999;
}

#alert-panel .alert {
    padding:5px;
    text-align:center;
}

a[data-target] {
	cursor:pointer;
}

div.tab-pane {
	margin-top:14px;
}

tr.today {
	border-left: 2px solid red;
}
tr.weekend {
	background-color:#eee;
}

#reminder-panel {
	min-width: 600px;
	min-height: 100vh;
	border: 1px solid #ddd;
	position: fixed;
	right: 0;
	top: 70px;
	margin-top: -19px;
	z-index: 9000;
	overflow-y: scroll;
	box-shadow: -2px 2px 10px 0px rgba(200, 200, 200, 1);
	background-image:url('../images/white-opacity-85.png');
	background-repeat:repeat;
	padding:24px;
}