.tools {
    text-align:right;
    white-space:nowrap;
}

.tools span {
    width:20px;
    text-align:center;
}

.tools a {
	text-decoration:none;
}

#alert-panel {
    display:block;
    position:fixed;
    width:100%;
    margin-top:-3px;
    z-index:5999;
}

.info, .danger, .warning, .active, .success  {
	color:#333;
}
.info a, .danger a, .warning a, .active a, .success a  {
	color:#333;
}


#alert-panel .alert {
    padding:5px;
    text-align:center;
}

a[data-target] {
	cursor:pointer;
}

div.tab-pane {
	margin-top:14px;
}

tr.today {
	border-left: 2px solid red;
}
tr.weekend {
	background-color:#eee;
}

.overlay-panel {
	min-width: 600px;
	min-height: 100vh;
	max-height: 100vh;
	border: 1px solid #ddd;
	position: absolute;
	top: 84px;
	margin-top: -17px;
	z-index: 9000;
	overflow-y: scroll;
	box-shadow: -2px 2px 10px 0px rgba(200, 200, 200, 1);
	background-image: url('../images/white-opacity-95.png');
	background-repeat: repeat;
	padding: 24px;	
}

.badge-danger {
	background-color:#e51c23;
}

span.smaller {
	font-weight:lighter;
	font-size:24px;
}

.milestone-marker {
	padding-left:8px;
	padding-right:8px;
	padding-top:2px;
	padding-bottom:2px;
	border-radius:10px;	
	color:#fff;
}

div.lane {
	width:32px;
	min-height:23px;
	cursor:cell;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);	
}

div.sprint-lane {
	border-right:1px solid #ccc;
	min-height:80vh;	
}

ul.sprint-issueList {
	list-style-position:outside;
	padding:0px;
}

li.sprint-issueItem {
	list-style: none;
	padding: 8px;
  	border: 1px solid #bbb;
  	margin-bottom:4px;
  	cursor:pointer;
}

li.danger {
	background-color:#f9bdbb;
}

li.info {
	background-color:#e1bee7;
}

li.success {
	background-color:#dff0d8;
}

div.sprint-issueHandle {
	width:16px;
	border-right:1px solid #ccc;
	float:left;
	cursor:pointer;
}

.text-bold {
	font-weight:bold;
}

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}

select.colorpicker option {
	color:#fff;
}