<div class="row">
	<div class="col-md-12 col-xs-12">
		<h3>Changelog</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<div class="form-inline pull-right">
							<label>Kunde</label>
							<select data-ng-model="criteria.customer" class="form-control" data-ng-options="c._id as c.name for c in customers"></select>&nbsp;&nbsp;
							
							<label>Zwischen</label>
							<input type="date" data-ng-model="criteria.from" class="form-control">&nbsp;&nbsp;
							
							<label>und</label>
							<input type="date" data-ng-model="criteria.to" class="form-control">&nbsp;&nbsp;
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			
			<div class="panel-body">
				<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>ID</th>
						<th>Status</th>
						<th>Zuletzt bearbeitet am</th>
						<th>Typ</th>
						<th>Zusammenfassung</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="i in issues|orderBy:'dateModified'">
						<td>#{{::i.number}}</td>
						<td>{{::i.state}}</td>
						<td>{{::i.dateModified | date:'dd.MM.yyyy HH:mm'}}</td>
						<td>
							<span data-buglabel data-type="{{::i.issuetype}}"></span>
						</td>	
						<td><a href="#/issues/{{::i._id}}/edit">{{::i.title}}</a></td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>