<div class="row">
	<div class="col-md-12 col-xs-12">
		<h3>Issue # {{::issue.number}} bearbeiten</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title pull-right">Time spent {{timeOnIssue | secsToTime }} <span data-ng-if="feature">- Time for Feature {{feature.estimatedEffort | secsToTime }}</span></h5>
				<div class="clearfix"></div>
			</div>
	
			<div class="panel-body">
				<div data-ng-include data-src="'./modules/issues/views/issue-details.html'"></div>
				<hr/>
				<div data-ng-include data-src="'./modules/issues/views/issue-notes.html'"></div>
			</div>
		</div>
	</div>
	
	<div class="col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-left">
					<h5 class="panel-title">Ticket Status</h5>
				</div>
				<div class="pull-right">
					<span data-ng-if="isTimePausable() || isTimeStoppable()">Aktuelle Zeit <small>(ohne Pausen)</small>: {{currentSpent | secsToTime }}&nbsp;&nbsp;</span>
					<button type="button" class="btn btn-primary btn-sm" data-ng-if="isTimeStartable()" data-ng-click="startTimeTracking()" title="Timetracking starten"><span class="fa fa-play"></span></button>	
					<button type="button" class="btn btn-primary btn-sm" data-ng-if="isTimeResumable()" data-ng-click="startTimeTracking()" title="Timetracking fortsetzen"><span class="fa fa-play blink"></span></button>	
					<button type="button" class="btn btn-primary btn-sm" data-ng-if="isTimePauseable()" data-ng-click="pauseTimeTracking()" title="Take a break .. have a KitKat"><span class="fa fa-pause"></span></button>	
					<button type="button" class="btn btn-primary btn-sm" data-ng-if="isTimeStoppable()" data-ng-click="stopTimeTracking()" title="Timetracking stoppen"><span class="fa fa-stop"></span></button>	
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="panel-body">
				<div data-ng-include data-src="'./modules/issues/views/issue-state.html'"></div>	
			</div>
			
			<div class="panel-footer">
				<div class="pull-right">
					<button class="btn btn-success" data-ng-click="updateIssue()">Speichern</button>
				</div>
				<div class="clearfix"></div>
			</div>	
		</div>	
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Dateianhänge</h5>
			</div>
			
			<div class="panel-body">
				<div data-ng-include data-src="'./modules/issues/views/issue-attachments.html'"></div>
			</div>
		</div>
	</div>	
</div>
