<div class="row">
	<div class="col-md-12 col-xs-12">
		<h3>Issues</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<span class="fa fa-bug" style="font-size:22px;line-height:37px;"></span>
						<div class="form-inline pull-right">
							<label>Typ</label>
							<select data-ng-model="criteria.type" class="form-control">
								<option value="">Alle</option>
								<option value="0">Bug</option>
								<option value="1">Change Requests</option>
								<option value="2">Features</option>
								<option value="3">Support</option>
							</select>&nbsp;&nbsp;
							
							<label>Zuweisung</label>
							<select data-ng-model="criteria.selection" class="form-control">
								<option value="0">Alle</option>
								<option value="1">Mir zugewiesen</option>
								<option value="2">Nicht zugewiesen</option>
							</select>&nbsp;&nbsp;
							
							<label>Kunde</label>
							<select data-ng-model="criteria.customer" class="form-control" data-ng-options="c._id as c.name for c in customers"></select>&nbsp;&nbsp;
						
							<label>Milestone</label>
							<select data-ng-model="criteria.milestone" class="form-control" data-ng-options="m._id as (m.version + ' - ' + m.name) for m in milestones | orderBy: 'version'"></select>&nbsp;&nbsp;
							
							<label>Status bis</label>
							<select data-ng-model="criteria.status" class="form-control">
								<option value="">Alle</option>
								<option value="0">Neu</option>
								<option value="1">Zugewiesen</option>
								<option value="2">Feedback</option>
								<option value="3">Resolved</option>
								<option value="4">Geschlossen</option>
							</select>
							&nbsp;&nbsp;
							<a href="#/issues/customer/{{criteria.customer}}/milestone/{{criteria.milestone}}/create" class="btn btn-primary" data-ng-if="criteria.milestone.length > 0">
								<span class="fa fa-plus"> Issue</span>
							</a>
							<a href="#/issues/customer/{{criteria.customer}}/create" class="btn btn-primary" data-ng-if="criteria.milestone.length == 0"><span class="fa fa-plus"> Issue</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div data-ng-include data-src="'./modules/issues/views/issue-table.html'"></div>
			</div>
		</div>	
	</div>
</div>