<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Kunde</b>	
	</div>
	<div class="col-md-9 col-xs-6">
		<a href="#/customers/{{customer._id}}/edit" title="{{customer.description}}">{{customer.name}}</a>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Version</b>	
	</div>
	<div class="col-md-9 col-xs-6">
		<a href="#/milestones/{{milestone._id}}/edit" title="{{milestone.name}}">{{milestone.version}}</a>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Feature</b>	
	</div>
	<div class="col-md-9 col-xs-6">
		{{feature.title}}
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Typ</b>	
	</div>
	<div class="col-md-9 col-xs-6">
		{{issue.issuetype}}
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Status</b>	
	</div>
	<div class="col-md-9 col-xs-6">
		{{::issue.state}}
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Zugewiesen an</b>	
	</div>
	<div class="col-md-9 col-xs-6">
		{{::issue.assignedTo}}
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Eingereicht von</b>	
	</div>
	<div class="col-md-9 col-xs-6">
		{{issue.reportedBy}}
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Zusammenfassung</b>	
	</div>
	<div class="col-md-9 col-xs-6">
		{{issue.title}}
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12">
		<b>Beschreibung</b><br/>
		{{issue.description}}
	</div>
</div>