<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label>Status</label>
			<select data-ng-model="issue.state" class="form-control">
				<option value="NEW">Neu</option>
				<option value="ASSIGNED">Zugewiesen</option>
				<option value="FEEDBACK">Feedback</option>
				<option value="RESOLVED">Resolved</option>
				<option value="CLOSED">Geschlossen</option>
			</select>
		</div>
		<div class="form-group">	
			<label>Zugewiesen an</label>
			<div data-user-selector data-select-as="issue.assignedTo"></div>
		</div>
		<div class="form-group" data-ng-if="issue.state == 'RESOLVED' || issue.state == 'CLOSED'">
			<label>Solution</label>
			<select data-ng-model="issue.solution" class="form-control">
				<option value=""></option>
				<option value="FIXED">Fixed</option>
				<option value="NOT_REPRODUCIBLE">Not Reproducible</option>
				<option value="NOT_FIXABLE">Not fixable</option>
				<option value="WONT_FIX">Won't fix</option>
				<option value="DUPLICATE">Duplicate</option>
			</select>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="form-group" data-ng-if="issue.state == 'RESOLVED' || issue.state == 'CLOSED'">
			<label>Committed in</label>
			<div data-ng-repeat="b in branches track by $index">
				<label class="checkbox-inline">
					<input type="checkbox" data-ng-checked="issue.fixedIn.indexOf(b) > -1" data-ng-click="toggleBranch(b)"> {{::b}}
				</label>
			</div>
			<div>
				Also fixed in these deleted branches:<br/>
				<span data-ng-repeat="f in i.fixedIn" data-ng-if="branches.indexOf(f) == -1">{{::f}}</span>
			</div>
		</div>
	</div>
</div>


<div data-ng-if="note">
	<div class="form-group">
		<label>Notiz</label>
		<textarea rows="4" data-ng-model="note.text" class="form-control" data-ui-tinymce="$parent.tinyOptions"></textarea>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Tasktype</label>
				<select data-ng-model="note.tasktype" class="form-control">
					<option value="GENERAL">Generell</option>
					<option value="BACKEND">Backend</option>
					<option value="FRONTEND">Frontend</option>
				</select>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="form-group">	
				<label>Zeitaufwand</label>
				<input type="text" data-ng-model="note.timeSpent" class="form-control" placeholder="HH:mm" data-duration-format>
			</div>
		</div>
	</div>
</div>

<button class="btn btn-primary btn-xs pull-right" data-ng-click="addNote()" data-ng-if="!note"><span class="fa fa-plus"> Notiz</span></button>
<button class="btn btn-danger btn-xs pull-right" data-ng-click="unfocusNote()" data-ng-if="note"><span class="fa fa-minus"> Notiz</span></button>