<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Kunde</b>	
	</div>
	<div class="col-md-3 col-xs-6">
		<a href="#/customers/{{customer._id}}/edit" title="{{customer.description}}">{{customer.name}}</a>
	</div>
	
	<div class="col-md-3 col-xs-6">
		<b>Version</b>	
	</div>
	<div class="col-md-3 col-xs-6">
		<a href="#/milestones/{{milestone._id}}/edit" title="{{milestone.name}}">{{milestone.version}}</a>
		<span data-ng-if="milestone.status == 'NEW'" class="text-danger" style="cursor:help" title="Das Pflichtenheft aus dem dieses Ticket stammt wurde noch nicht freigegeben">&nbsp;&nbsp;<small>Keine Freigabe!</small></span>
		<span data-ng-if="milestone.status == 'APPROVED'" class="text-success" style="cursor:help" title="Das Pflichtenheft aus dem dieses Ticket stammt wurde freigegeben">&nbsp;&nbsp;<small>Freigegeben</small></span>
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Feature</b>	
	</div>
	<div class="col-md-3 col-xs-6">
		{{feature.title}} 
	</div>
	
	<div class="col-md-3 col-xs-6">
		<b>Typ</b>	
	</div>
	<div class="col-md-3 col-xs-6">
		<span data-ng-if="issue.issuetype == 'BUG'" class="label label-danger" >Bug</span>
		<span data-ng-if="issue.issuetype == 'CHANGE_REQUEST'" class="label label-default">Change Request</span>
		<span data-ng-if="issue.issuetype == 'FEATURE'" class="label label-info">Feature</span>
		<span data-ng-if="issue.issuetype == 'SUPPORT'" class="label label-warning">Support</span>	
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Eingereicht von</b>	
	</div>
	<div class="col-md-3 col-xs-6">
		{{issue.reportedBy}}
	</div>
	<div class="col-md-3 col-xs-6">
		<b>Zugewiesen an</b>	
	</div>
	<div class="col-md-3 col-xs-6">
		{{issue.assignedTo.split(":").pop()}}
	</div>
</div>


<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Status</b>	
	</div>
	<div class="col-md-3 col-xs-6">
		<span data-ng-if="issue.state == 'NEW'">Neu</span>	
		<span data-ng-if="issue.state == 'FEEDBACK'">Feedback</span>	
		<span data-ng-if="issue.state == 'ASSIGNED'">Zugewiesen</span>	
		<span data-ng-if="issue.state == 'RESOLVED'">Resolved</span>	
		<span data-ng-if="issue.state == 'CLOSED'">Geschlossen</span>
	</div>
	<div class="col-md-3 col-xs-6">
		<b>Zu erledigen bis</b>
	</div>
	<div class="col-md-3 col-xs-6">
		{{issue.resolveUntil|date:'dd.MM.yyyy'}}
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<br/>
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-xs-6">
		<b>Zusammenfassung</b>	
	</div>
	<div class="col-md-9 col-xs-6">
		{{issue.title}}
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<br/>
		<div data-ng-bind-html="html.description" style="font-family:Monospace; font-size:12px;"></div>
	</div>
</div>