<table class="table table-condensed">
<thead>
	<tr>
		<th><a href="" data-ng-click="$parent.predicate = 'number'; 		$parent.reverse=!reverse">#</a></th>
		<th><a href="" data-ng-click="$parent.predicate = 'dateModified'; 	$parent.reverse=!reverse">Bearbeitet am</a></th>
		<th><a href="" data-ng-click="$parent.predicate = 'issuetype'; 		$parent.reverse=!reverse">Type</a></th>
		<th><a href="" data-ng-click="$parent.predicate = 'state'; 			$parent.reverse=!reverse">Status</a></th>
		<th><a href="" data-ng-click="$parent.predicate = 'assignedTo'; 	$parent.reverse=!reverse">Zugewiesen an</a></th>
		<th><a href="" data-ng-click="$parent.predicate = 'resolveUntil'; 	$parent.reverse=!reverse">Zu erledigen bis</a></th>
		<th>Zusammenfassung</th>
		<th>&nbsp;</th>
	</tr>
</thead>
<tbody>
	<tr data-ng-if="!issues || issues.length == 0">
		<td colspan="7" style="text-align:center;"><i>Für die aktuelle Auwahl sind keine Ergebnisse vorhanden</i></td>
	</tr>
	<tr data-ng-repeat="i in issues | orderBy:$parent.predicate:$parent.reverse track by $index"
		data-ng-class="{'info' : i.state == 'ASSIGNED', 'danger' : i.state == 'NEW', 'warning' : i.state == 'FEEDBACK', 'success' : i.state == 'RESOLVED', 'active' : i.state == 'CLOSED'}">
		
		<td>#{{i.number}}</td>
		<td>{{i.dateModified|date:'dd.MM.yyyy HH:mm'}}</td>
		<td>
			<span data-buglabel data-type="{{::i.issuetype}}"></span>
		</td>
		<td>
			<span data-ng-if="i.state == 'NEW'">Neu</span>	
			<span data-ng-if="i.state == 'FEEDBACK'">Feedback</span>	
			<span data-ng-if="i.state == 'ASSIGNED'">Zugewiesen</span>	
			<span data-ng-if="i.state == 'RESOLVED'">Resolved</span>	
			<span data-ng-if="i.state == 'CLOSED'">Geschlossen</span>
		</td>
		<td>{{i.assignedTo.split(":").pop()}}</td>
		<td>{{i.resolveUntil|date:'dd.MM.yyyy'}}</td>
		<td><a href="#/issues/{{i._id}}/edit">{{i.title}}</a></td>
		<td class="tools">
			<a href="#/issues/{{i._id}}/edit" title="Bearbeiten"><span class="fa fa-pencil"></span></a>
			<a href="javascript:void('');" data-ng-click="toggleObservation(i)">
                <span class="fa fa-eye" title="Ticket beobachten" data-ng-if="!isObserving(i)"></span>
                <span class="fa fa-eye-slash" title="Nicht mehr beobachten" data-ng-if="isObserving(i)"></span>
            </a>
            <span data-tracking-controls data-ng-model="i" data-modal-on-stop="true" data-ng-if="i.state == 'ASSIGNED'">
	            <a href data-control-type="play"><span class="fa fa-play"></span></a>
				<a href data-control-type="resume"><span class="fa fa-play blink"></span></a>
				<a href data-control-type="pause"><span class="fa fa-pause"></span></a>
				<a href data-control-type="stop"><span class="fa fa-stop"></span></a>
            </>
		</td>
	</tr>
</tbody>
</table>