<div class="form-group">
	<label>Status</label>
	<select data-ng-model="issue.state" class="form-control">
		<option value="NEW">Neu</option>
		<option value="ASSIGNED">Zugewiesen</option>
		<option value="FEEDBACK">Feedback</option>
		<option value="RESOLVED">Resolved</option>
		<option value="CLOSED">Geschlossen</option>
	</select>
</div>
<div class="form-group">	
	<label>Zugewiesen an</label>
	<div data-user-selector data-select-as="issue.assignedTo"></div>
</div>
<div data-ng-if="note">
	<div class="form-group">
		<label>Notiz</label>
		<textarea rows="4" data-ng-model="note.text" class="form-control" data-ui-tinymce="$parent.tinyOptions"></textarea>
	</div>
	
	<div class="form-group">
		<label>Tasktype</label>
		<select data-ng-model="note.tasktype" class="form-control">
			<option value="GENERAL">Generell</option>
			<option value="BACKEND">Backend</option>
			<option value="FRONTEND">Frontend</option>
		</select>
	</div>
	
	<div class="form-group">	
		<label>Zeitaufwand</label>
		<input type="text" data-ng-model="note.timeSpent" class="form-control" placeholder="HH:mm" data-duration-format>
	</div>
</div>

<button class="btn btn-primary btn-xs pull-right" data-ng-click="addNote()" data-ng-if="!note"><span class="fa fa-plus"> Notiz</span></button>
<button class="btn btn-danger btn-xs pull-right" data-ng-click="unfocusNote()" data-ng-if="note"><span class="fa fa-minus"> Notiz</span></button>