<div>
	<div class="row">
		<div class="col-md-12">
			<label>Kunde</label>
			<select data-ng-model="criteria.customer" data-ng-options="c as c.name for c in customers" class="form-control"></select>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12" style="height:80vh; overflow-y:scroll;">
			<table class="table table-striped">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>ID</th>
					<th>Type</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ui-draggable="true" data-drag="i" data-drag-channel="issues" data-ng-dblclick="onUnassignedDrop(null, i)"
					data-ng-repeat="i in issues" 
					data-ng-class="{'info' : i.state == 'ASSIGNED', 'danger' : i.state == 'NEW', 'warning' : i.state == 'FEEDBACK', 'success' : i.state == 'RESOLVED', 'active' : i.state == 'CLOSED'}"
					data-ng-if="!i.sprint || i.sprint.length == 0">
					<td><span class="fa fa-bars" style="cursor:pointer;"></span>
					<td>{{::i.number}}</td>
					<td>
						<div data-buglabel data-type="{{::i.issuetype}}"></div>
					</td>
					<td>{{::i.title}}</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>