<div class="row">
	<div class="col-md-12 col-xs-12">
		<h3>Issues</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title"># {{issue.number}} bearbeiten</h5>
			</div>	
			<div class="panel-body">
				<form name="issueform">
					<div data-ng-include data-src="'./modules/issues/views/issue-form.html'"></div>
				</form>
			</div>
			
			<div class="panel-footer">
				<div class="pull-right">
					<a href="#/issues" class="btn btn-danger">Abbrechen</a>
					<button class="btn btn-success" data-ng-click="updateIssue()" data-ng-disabled="issueform.$invalid">Speichern</button>
				</div>	
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>