<form name="contactForm">
	<div class="form-group col-md-12 col-xs-12">
		<label>Salutation</label>
		<select data-ng-model="contact.gender" class="form-control">
			<option value="M">Mr.</option>
			<option value="F">Mrs.</option>
		</select>
	</div>
	<div class="form-group">
		<div class="col-md-6 col-xs-12">
			<label>Firstname</label>
			<input type="text" data-ng-model="contact.firstName" placeholder="Max" class="form-control" required>
		</div>
		<div class="col-md-6 col-xs-12">
			<label>Lastname</label>
			<input type="text" data-ng-model="contact.lastName" placeholder="Mustermann" class="form-control" required>
		</div>
	</div>
	
	<div class="form-group col-md-12 col-xs-12">
		<label>E-Mail</label>
		<input type="email" data-ng-model="contact.email" placeholder="m.mustermann@example.com" class="form-control">
	</div>
	
	<div class="form-group col-xs-12 col-md-12">
		<label>Phone</label>
		<input type="text" data-ng-model="contact.phone" placeholder="+49 12345 56799" class="form-control">
	</div>

	<div class="pull-right">
		<button type="button" class="btn btn-danger" data-ng-click="unfocusContact()">Cancel</button>
		<button type="submit" class="btn btn-primary" data-ng-click="addContact()" data-ng-disabled="contactForm.$invalid">
			Apply
		</button>
	</div>
</form>