<div class="row">
	<div class="col-md-12">
		<h3>ProJack Dashboard</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div data-ng-include data-src="'./modules/dashboard/views/issue-charts.html'"></div>
	</div>

	<div class="col-md-3 col-xs-12">
		<div data-ng-include data-src="'./modules/dashboard/views/express-tickets.html'"></div>
	</div>

	<div class="col-md-3 col-xs-12">
		<div data-ng-include data-src="'./modules/dashboard/views/assigned-tasks.html'"></div>	
	</div>

	
</div>
