<div class="row">
	<div class="col-md-12 col-xs-12">
		<h3>Sprint Overview <span class="smaller">&quot;{{::sprint.name}}&quot;</span></h3>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<button class="btn btn-primary btn-sm" data-ng-click="toggleIssueOverlay()"><span class="fa fa-search"></span></button>
		<button class="btn btn-primary btn-sm" data-ng-click="toggleIssueCreateOverlay()"><span class="fa fa-plus"></span></button>
	</div>
</div>

<div class="row">
	<div class="col-md-4 sprint-lane"  drop-channel="issues" ui-on-drop="onUnassignedDrop($event, $data)" drop-validate="validateUnassignedDrop($data)">
		<h4>Unassigned</h4>	
		<ul class="sprint-issueList">
			<li data-ng-repeat="i in unassigned | orderBy: 'number'" class="sprint-issueItem danger" ui-draggable="true" drag="i" drag-channel="issues">
				<div class="sprint-issueHandle">
					<span class="fa fa-bars"></span>
				</div>
				<div class="sprint-issueHeading">
					<b>#{{::i.number}}</b> / <a href="#/issues/{{::i._id}}/edit" target="_blank">{{::i.title}}</a> 
					<span data-buglabel type="{{i.issuetype}}"></span>
				</div>
			</li>	
		</ul>
	</div>
	
	<div class="col-md-4 sprint-lane" drop-channel="issues" ui-on-drop="onInProgressDrop($event, $data)" drop-validate="validateInProgressDrop($data)">
		<h4>In Progress</h4>	
		<ul class="sprint-issueList">
			<li data-ng-repeat="i in inProgress | orderBy : 'number'" class="sprint-issueItem info" ui-draggable="true" drag="i" drag-channel="issues">
				<div class="sprint-issueHandle">
					<span class="fa fa-bars"></span>
				</div>
				<div class="sprint-issueHeading">
					<b>#{{::i.number}}</b> / <a href="#/issues/{{::i._id}}/edit" target="_blank">{{::i.title}}</a>
					<span type="{{i.issuetype}}" data-buglabel></span> 
				</div>
			</li>	
		</ul>
	</div>
	
	<div class="col-md-4 sprint-lane" drop-channel="issues" ui-on-drop="onDoneDrop($event, $data)" drop-validate="validateDoneDrop($data)">
		<h4>Done</h4>	
		<ul class="sprint-issueList">
			<li data-ng-repeat="i in done | orderBy : 'number'" class="sprint-issueItem success" ui-draggable="true" drag="i" drag-channel="issues">
				<div class="sprint-issueHandle">
					<span class="fa fa-bars"></span>
				</div>
				<div class="sprint-issueHeading">
					<b>#{{::i.number}}</b> / <a href="#/issues/{{::i._id}}/edit" target="_blank">{{::i.title}}</a>
					<span type="{{i.issuetype}}" data-buglabel></span> 
				</div>
			</li>	
		</ul>
	</div>
</div>

<div id="sprint-issueOverlay" class="overlay-panel ng-hide" data-ng-include data-src="'./modules/issues/views/issue-overlay.html'" style="right:0px; top:83px; max-height:80vh; width:50%; overflow-y:hidden;position:fixed;" data-ng-show="issueOverlayVisible"></div>
<div id="sprint-issueOverlay" class="overlay-panel ng-hide" style="right:0px; top:83px; max-height:80vh; width:50%; overflow-y:hidden;position:fixed;" data-ng-show="issueCreateOverlayVisible">
	<div data-ng-include data-src="'./modules/issues/views/issue-form.html'"></div>
	<div class="row">
		<div class="pull-right">
			<button type="button" class="btn btn-danger" data-ng-click="issueCreateOverlayVisible = false">Abbrechen</button>
			<button type="button" class="btn btn-success" data-ng-click="createIssue()">Speichern</button>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
