<div>
	<div class="pull-left" data-buglabel type="{{i.issuetype}}"></div>
	<div class="pull-right">
		<span class="fa fa-recycle" data-ng-click="removeFromSprint(i)" title="Move ticket to backlog" data-ng-if="i.state == 'NEW'"></span>
		
		<div data-tracking-controls data-ng-model="i" data-ng-if="i.state == 'ASSIGNED'" data-modal-on-stop="true">
			<a href data-control-type="play"><span class="fa fa-play"></span></a>
			<a href data-control-type="resume"><span class="fa fa-play blink"></span></a>
			<a href data-control-type="pause"><span class="fa fa-pause"></span></a>
			<a href data-control-type="stop"><span class="fa fa-stop"></span></a>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="sprint-issueHeading">
	<b>#{{::i.number}}</b> / <a href="#/issues/{{::i._id}}/edit" target="_blank">{{::i.title}}</a> 
</div>