<form name="userForm">
	<div class="form-group">
		<label>Login</label>
		<input type="text" data-ng-model="user.name" class="form-control" required>
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" data-ng-model="user.password" class="form-control" placeholder="Password" required><br/>
		<input type="password" data-ng-model="user.passwordConfirmation" class="form-control" placeholder="Password confirmation" required >
	</div>
	<div data-ng-include data-src="'./modules/security/views/user-form.html'"></div>
</form>