<div data-ng-if="!user.mailAccounts || user.mailAccounts.length == 0">
	<p class="text-center"><i>Es wurden noch keine Accounts angelegt</i></p>
</div>
<div class="row" data-ng-repeat="a in user.mailAccounts">
	
	<div class="col-md-8">
		<strong>{{a.name}}</strong><br/>
		{{a.login}} / {{a.host}}
	</div>
	
	<div class="col-md-4">
		<div class="pull-right tools">
			<a href="javascript:void('');" data-ng-click="focusAccount(a)"><span class="fa fa-pencil"></span></a>
			<a href="javascript:void('');" data-ng-click="removeAccount(a)"><span class="fa fa-trash-o"></span></a>
		</div>
	</div>
</div>	

<div class="pull-right">
	<button type="button" class="btn btn-primary btn-xs" data-ng-click="addMailAccount()"><span class="fa fa-plus">&nbsp;Account</span></button>
</div>