<div class="row">
	<div class="col-md-12 col-xs-12">
		<h3>{{user.name}} bearbeiten</h3>	
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		{{user.name}}
	</div>
	
	<div class="panel-body">
		<div data-ng-include data-src="'./modules/security/views/user-form.html'"></div>
	</div>
	
	<div class="panel-footer">
		<div class="pull-right">
			<a href="#/admin/users" class="btn btn-danger">Abbrechen</a>
			<button class="btn btn-success" data-ng-click="updateUser()">Speichern</button>
		</div>
		<div class="clearfix"></div>
	</div>
</div>