<div class="row">
	<div class="col-md-12 col-xs-12">
		<h3>Neuen Benutzer anlegen</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<form name="createUserForm">
				<div class="panel-heading">
					<h5 class="panel-title">Account Daten</h5>
				</div>
				
				<div class="panel-body">
					<div data-ng-include data-src="'./modules/security/views/user-create-form.html'"></div>	
				</div>
				
				<div class="panel-footer">
					<div class="pull-right">
						<a href="#/admin/users"	class="btn btn-danger">Abbrechen</a>
						<button class="btn btn-success" data-ng-click="createUser()" data-ng-disabled="createUserForm.$invalid || user.password != user.passwordConfirmation">Speichern</button>
					</div>	
					<div class="clearfix"></div>
				</div>
			</form>
		</div>
	</div>
</div>