<div class="swimlane">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="col-md-1">
						<span class="fa fa-chevron-down expander" data-ng-if="lane.state == 'EXPANDED' || !lane.state" data-ng-click="toggleExpansion()"></span>	
						<span class="fa fa-chevron-right expander" data-ng-if="lane.state == 'COLLAPSED'" data-ng-click="toggleExpansion()"></span>
					</div>
					<div class="col-md-8">
						<h4 style="margin:0px;">{{lane.title}}</h4>
					</div>
					
					<div class="col-md-3">
						<div class="pull-right">
							<button class="btn btn-primary btn-sm" data-ng-click="showMetaInf(true)" data-ng-if="!editTitle">
								<span class="fa fa-pencil"></span>
							</button>
							<button class="btn btn-danger btn-sm" data-ng-click="removeLane(lane)" data-ng-disabled="lane.isDefaultLane == 'true'">
								<span class="fa fa-trash"></span>
							</button>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
					
				<div class="panel-body" data-ng-if="lane.state == 'EXPANDED'">
					<div class="col-md-3 swimlane-unassigned sprint-lane" data-drop-channel="issues" data-ui-on-drop="onUnassignedDrop($event, $data)" data-drop-validate="validateUnassignedDrop($data)">
						<div class="lane-tab unassigned">Unassigned</div>
						<ul class="lane-content sprint-issueList">
							<li data-ng-repeat="i in issues.unassigned track by i._id" class="sprint-issueItem" data-ui-draggable="true" data-drag="i" data-drag-channel="issues">
								<div data-ng-include data-src="'./modules/sprints/views/sprint-item.html'" data-ng-class="{danger : i.state  == 'NEW', info : i.state == 'ASSIGNED', warning : i.state == 'FEEDBACK', success : i.state == 'RESOLVED', active : i.state == 'CLOSED'}"></div>
							</li>
						</ul>
					</div>
					<div class="col-md-3 swimlane-processing sprint-lane" data-drop-channel="issues" data-ui-on-drop="onAssignedDrop($event, $data)" data-drop-validate="validateAssignedDrop($data)">
						<div class="lane-tab processing ">Processing</div>
						<ul class="lane-content sprint-issueList">
							<li data-ng-repeat="i in issues.assigned track by i._id" class="sprint-issueItem" data-ui-draggable="true" data-drag="i" data-drag-channel="issues">
								<div data-ng-include data-src="'./modules/sprints/views/sprint-item.html'" data-ng-class="{danger : i.state  == 'NEW', info : i.state == 'ASSIGNED', warning : i.state == 'FEEDBACK', success : i.state == 'RESOLVED', active : i.state == 'CLOSED'}"></div>
							</li>
						</ul>
					</div>
					<div class="col-md-3 swimlane-qa sprint-lane" data-drop-channel="issues" data-ui-on-drop="onQADrop($event, $data)" data-drop-validate="validateQADrop($data)">
						<div class="lane-tab qa">QA</div>
						<ul class="lane-content sprint-issueList">
							<li data-ng-repeat="i in issues.resolved track by i._id" class="sprint-issueItem" data-ui-draggable="true" data-drag="i" data-drag-channel="issues">
								<div data-ng-include data-src="'./modules/sprints/views/sprint-item.html'" data-ng-class="{danger : i.state  == 'NEW', info : i.state == 'ASSIGNED', warning : i.state == 'FEEDBACK', success : i.state == 'RESOLVED', active : i.state == 'CLOSED'}"></div>
							</li>
						</ul>
					</div>
					<div class="col-md-3 swimlane-done sprint-lane" data-drop-channel="issues" data-ui-on-drop="onDoneDrop($event, $data)" data-drop-validate="validateDoneDrop($data)">
						<div class="lane-tab done">Done</div>
						<ul class="lane-content sprint-issueList">
							<li data-ng-repeat="i in issues.done track by i._id" class="sprint-issueItem" data-ui-draggable="true" data-drag="i" data-drag-channel="issues">
								<div data-ng-include data-src="'./modules/sprints/views/sprint-item.html'" data-ng-class="{danger : i.state  == 'NEW', info : i.state == 'ASSIGNED', warning : i.state == 'FEEDBACK', success : i.state == 'RESOLVED', active : i.state == 'CLOSED'}"></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
	
			<div class="swimlane-metainf" data-ng-if="metaInfVisible">
				<h5>Swimlane Infos</h5>
				<input type="text" data-ng-model="shadow.title" class="form-control">
		
				<div class="pull-right">
					<button class="btn btn-danger btn-sm" data-ng-click="cancelEdit()">Abbrechen</button>
					<button class="btn btn-success btn-sm" data-ng-click="updateLane()">Speichern</button>
				</div>	
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>